
*.vsidx
*.vsidx
.vs/Tienda_G6/FileContentIndex/1261e58e-01e0-431a-b29e-8888d0c22bbf.vsidx
.vs/Tienda_G6/FileContentIndex/128af9c3-24e8-46b3-99e5-027e506acb5f.vsidx
.vs/Tienda_G6/FileContentIndex/da6889ff-1681-4bec-aa5f-b1e84084e78c.vsidx
.vs/Tienda_G6/v17/.suo
KN_WEB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
