
@{
    ViewBag.Title = "SobreNosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">SobreNosotros</h1>
            <br />
            <br />
            <p align="justify" class="lead fw-normal text-white-50 mb-0">
                Nos enorgullece ser tu destino confiable para todas tus necesidades en electrodomésticos. Desde nuestra fundación, nos hemos comprometido a proporcionar soluciones innovadoras para hacer que tu vida en el hogar sea más cómoda, eficiente y emocionante.

                Nuestra pasión por la excelencia y el compromiso con la calidad nos han llevado a ser la elección preferida de miles de clientes que buscan los mejores productos y un servicio excepcional. Ya sea que estés equipando una cocina moderna, actualizando tu sala de estar o mejorando tu espacio de lavandería, en ElectroHogar encontrarás una amplia gama de electrodomésticos diseñados para satisfacer tus necesidades y superar tus expectativas.
            </p>

            <h3>¿Qué nos distingue?</h3>
            <p align="justify" class="lead fw-normal text-white-50 mb-0">
                No solo ofrecemos una selección cuidadosamente curada de las marcas más reconocidas y confiables, sino que también contamos con un equipo de expertos apasionados que están listos para asesorarte en cada paso del proceso de compra. Entendemos que cada hogar es único, por lo que nos esforzamos por brindarte opciones que se adapten a tu estilo de vida y presupuesto.
            </p>
            <br />
            <h3>La satisfacción del cliente es nuestra máxima prioridad.</h3>
            <p align="justify" class="lead fw-normal text-white-50 mb-0">
                 Nos enorgullece ofrecer un servicio personalizado, entrega puntual y atención postventa excepcional. Nuestra misión es convertirnos en tu socio de confianza a medida que haces mejoras en tu hogar y te beneficias de las últimas innovaciones en electrodomésticos. Explora nuestro catálogo en línea o visítanos en nuestra tienda física para descubrir una experiencia de compra única. Ya sea que estés buscando la última tecnología en electrodomésticos inteligentes o las soluciones clásicas que perduran en el tiempo, en ElectroHogar estamos aquí para hacer realidad tus sueños para el hogar. Gracias por elegirnos como tu destino de confianza para todo lo relacionado con electrodomésticos. ¡Esperamos poder servirte y ser parte de tu vida en el hogar durante muchos años más!
            </p>
        </div>
    </div>
</header>

