@model KN_WEB.Entities.UsuarioEnt

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}


@using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post))
{
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card bg-dark shadow-lg border-1 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center text-light font-weight-light my-4">Inicio de Sesión</h3></div>
            <div class="card-body">
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Correo Electrónico" })
                        <label for="inputEmail">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Contraseña" })
                        <label for="inputPassword">Contraseña</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small text-muted" href="password.html">Recuperar Contraseña</a>
                    </div>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">
                    <a class="btn btn-primary bg-info border-0" href="@Url.Action("Registro", "Home")"> Registro <i class="fa-solid fa-reply"></i></a>
                    <button class="btn btn-primary bg-info border-0" type="submit">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>
}