@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card bg-dark shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center text-light font-weight-light my-4">Registro</h3></div>
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Identificación" />
                                <label for="inputFirstName">Identificación</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="inputLastName" type="text" placeholder="Nombre" />
                                <label for="inputLastName">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputEmail" type="email" placeholder="Correo Electrónico" />
                        <label for="inputEmail">Correo Electrónico</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputPassword" type="password" placeholder="Contraseña" />
                                <label for="inputPassword">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirmar Contraseña" />
                                <label for="inputPasswordConfirm">Confirmar Contraseña</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">
                    <a class="btn bg-info btn-primary border-0 btn-block" href="login.html">Registrarse</a>
                    <a class="btn bg-info btn-primary border-0 btn-block" href="@Url.Action("Index","Home")"> Inicio Sesión <i class="fa-solid fa-reply"></i></a>
                </div></div>
            </div>
        </div>
    </div>
</div>