@model List<Tienda_G6_Frontend.Entities.ArticuloEnt>
@{
    ViewBag.Title = "Iniciar Sesión";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Tienda</h1>
            <p class="lead fw-normal text-white-50 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
